<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script defer src="src/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <title>Vite App</title>
  </head>
  <body>
  <h1 class="title">Заметки</h1>
  <div id="new">
      <form class="cardForm" @submit.prevent="addCard">
          <p>
              <label for="GroupName">Название карточки</label>
              <input id="GroupName" v-model="groupName" >
          </p>
          <p>
              <li for="InputOne">
                  <input id="InputOne" v-model="inputOne" placeholder="Запишите заметку ">
              </li>
          </p>
          <p>
              <li for="InputTwo">
                  <input id="InputTwo" v-model="inputTwo" placeholder="Запишите заметку  ">
              </li>
          </p>
          <p>
              <li for="InputThr">
                  <input id="InputThr" v-model="inputThr" placeholder="Запишите заметку  ">
              </li>
          </p>
          <p>
              <input type="submit" value="Добавить">
          </p>
      </form>

  </div>

  </body>
</html>
