<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="src/assets/main.css">
      <script defer src="src/main.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.18/vue.min.js"></script>
    <title>Vite App</title>
  </head>
  <body>
  <h1 class="title">Заметки</h1>
  <div id="new">
      <form class="cardForm" @submit.prevent="addCard">
          <p>
              <label for="GroupName">Название карточки</label>
              <input id="GroupName" v-model="groupName" required >
          </p>
          <p>
              <li for="InputOne">
                  <input id="InputOne" v-model="inputOne" placeholder="Запишите заметку " required>
              </li>
          </p>
          <p>
              <li for="InputTwo">
                  <input id="InputTwo" v-model="inputTwo" placeholder="Запишите заметку  " required>
              </li>
          </p>
          <p>
              <li for="InputThr">
                  <input id="InputThr" v-model="inputThr" placeholder="Запишите заметку  " required>
              </li>
          </p>
          <p>
              <input type="submit" value="Добавить">
          </p>
      </form>
      <div class="pp">
          <p>0%</p>
          <p>50%</p>
          <p>100%</p>
      </div>
      {{ checkSizeColumn2() }}
      <div class="columns" style="display: flex; justify-content: space-evenly; ">
          <div class="column">
              <div class="card" v-for="group in firstColumn" :key="group.id" :class="{'disabled': column2_disable}">
                  <h3>{{group.groupName}}</h3>
                  <ul>
                      <li v-for="item in group.items" :key="item.id">
                          <input type="checkbox" v-model="item.checked" @change="updateCard(group)" :disabled="column1_lock">
                          {{ item.text }}
                      </li>
                  </ul>
              </div>
          </div>
          <div class="column">
              <div class="card" v-for="group in secondColumn" :key="group.id">
                  <h3>{{group.groupName}}</h3>
                  <ul>
                      <li v-for="item in group.items" :key="item.id">
                          <input type="checkbox" v-model="item.checked" @change="updateCard(group)">
                          {{ item.text }}
                      </li>
                  </ul>
              </div>
          </div>
          <div class="column">
              <div v-for="group in thirdColumn" :key="group.id">
                  <div class="card">
                      <h3>{{ group.groupName }}</h3>
                      <ul>
                          <li v-for="item in group.items" :key="item.id">
                              <input type="checkbox" v-model="item.checked">
                              {{ item.text }}
                          </li>
                      </ul>
                      <p>{{ group.lastComplete }}</p>
                      <button @click="deleteGroup(group.id)">Удалить</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </body>
</html>
